 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.75), rgba(41,46,51,0.75)), url("images/Hinjewadi.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 995px;
}

.u-section-1 .u-image-1 {
  height: 106px;
  width: 357px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Akaya Kanadaka";
  margin: 53px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  text-transform: none;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  width: 839px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 45px;
  padding-right: 45px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-1 .u-icon-1 {
  color: rgb(241, 197, 14) !important;
}

.u-section-1 .u-text-4 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 0 0 8px rgba(26,26,26,1);
  font-weight: 700;
  margin: 32px 152px 0 149px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 645px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
  width: 839px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 36px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
  width: 839px;
  margin: 22px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 30px;
  height: 41px;
  font-size: 1.3334em;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 53px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-1 .u-text-4 {
    width: 839px;
    margin-left: 49px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 34px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 34px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 41px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 36px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 76px;
    padding-left: 74px;
  }
}